.wallet {
  --offset: 16px;

  position: relative;
  display: flex;
  justify-content: space-between;
  aspect-ratio: 3 / 1.8;
  padding: var(--offset);
  border-radius: 20px;
  transition: background 0.2s ease;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &:nth-child(2) {
      align-items: flex-end;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.icon {
  display: flex;
  width: 30px;
  height: 30px;

  .shape {
    fill: var(--white-a12);
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 24px;
  padding: 4px;
  color: var(--white-a10);
  cursor: pointer;
  background: var(--white-a4);
  border-radius: 100%;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.copy {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .symbol {
    width: 16px;
    height: 16px;
    color: var(--white-a8);
  }
}

.customize {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 32px;
  padding: 0 16px;
  color: unset;
  background: var(--white-a4);
  border-radius: 16px;
}

.text {
  display: flex;
  font-size: 16px;
  font-variation-settings: var(--font-weight-600);
  line-height: normal;
  white-space: nowrap;
  field-sizing: content;
  color: unset;
  will-change: filter;

  &[data-text="primary"] {
    margin: 0;
    color: var(--white-a12);
  }

  &[data-text="secondary"] {
    margin: 0;
    color: var(--white-a8);
  }

  &::selection {
    background: var(--white-a4);
  }

  &::placeholder {
    color: var(--white-a6);
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: white;
  opacity: 0.9;
  transition: all 0.2s ease;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.picker {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 16px;
  background: transparent;
  border-radius: 16px;
}

.swatch {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;

  .color {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 32px;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.2s ease;

    &::before {
      position: absolute;
      inset: 4px;
      content: "";
      border-radius: 100px;
      box-shadow: inset 0 0 0 3px var(--white-a12);
      opacity: 0;
      transform: scale(0);
      transition: all 0.2s ease;
    }

    &[data-selected="true"] {
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.save {
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-radius: 16px;
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-variation-settings: var(--font-weight-600);
  line-height: normal;
  white-space: nowrap;
  field-sizing: content;
  will-change: filter;
  color: var(--white-a12);
}
