pre {
  padding: var(--prose-block-spacing);
  margin: var(--prose-block-spacing) 0;
  overflow-x: auto;
  line-height: 1.6;
  tab-size: 2;
  background: var(--shiki-light-bg);
  border-radius: var(--prose-block-radius);

  @media (prefers-color-scheme: dark) {
    background: var(--shiki-dark-bg);
  }
}

pre code {
  display: block;
  font-family: var(--font-monospace);
  font-size: 13px;
  font-weight: 400;
  line-height: inherit;
  color: var(--shiki-light);
  background: transparent;
  border: none;

  @media (prefers-color-scheme: dark) {
    color: var(--shiki-dark);
  }
}

pre code .line {
  display: inline-block;
  min-height: 1.6em;
}

code:not(pre code) {
  padding: 2px 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--gray-12);
  background: var(--gray-4);
  border: 1px solid var(--gray-6);
  border-radius: 4px;
}

pre[title]::before {
  display: block;
  padding: 8px var(--prose-block-spacing);
  margin: calc(-1 * var(--prose-block-spacing))
    calc(-1 * var(--prose-block-spacing)) var(--prose-block-spacing);
  font-family: var(--font-regular);
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-11);
  content: attr(title);
  background: var(--gray-3);
  border-bottom: 1px solid var(--gray-6);
}

.line .highlighted {
  padding-left: 6px;
  margin-left: -8px;
  background: rgba(255, 255, 0, 0.1);
  border-left: 2px solid rgba(255, 255, 0, 0.5);
}
