.root {
  --accent: var(--blue-9);

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  padding: 48px;
}

.root[data-color="pink"] {
  --accent: var(--pink-9);
}

.root[data-color="blue"] {
  --accent: var(--blue-9);
}

.root[data-color="purple"] {
  --accent: var(--purple-9);
}

.root[data-color="green"] {
  --accent: var(--green-9);
}

.root[data-color="cyan"] {
  --accent: var(--cyan-9);
}

.root[data-color="orange"] {
  --accent: var(--orange-9);
}

.root[data-color="gray"] {
  --accent: var(--gray-9);
}

.root[data-color="amber"] {
  --accent: var(--amber-9);
}

.root[data-color="red"] {
  --accent: var(--red-9);
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: white;
  cursor: pointer;
  background: var(--accent);
  border: none;
  border-radius: 100px;
  transition:
    transform 0.15s ease,
    background-color 0.2s ease;
}

.preview:hover {
  transform: scale(1.02);
}

.preview:active {
  transform: scale(0.98);
}

.preview-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots-container {
  display: flex;
  justify-content: center;
  min-height: 10px;
  overflow: visible;
}

.dots {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--gray-a6);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.dot[data-active="true"] {
  background: var(--accent);
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--gray-11);
  cursor: pointer;
  background: var(--gray-1);
  border: 1px solid var(--gray-a4);
  border-radius: 8px;
  transition:
    border-color 0.2s ease,
    color 0.2s ease,
    transform 0.1s ease;
}

.icon-button:hover {
  color: var(--gray-12);
  border-color: var(--gray-a8);
}

.icon-button:active {
  transform: scale(0.96);
}

.icon-button[data-active="true"] {
  color: var(--accent);
  border-color: var(--accent);
  border-width: 2px;
}

.options {
  display: flex;
  gap: 24px;
  align-items: center;
}

.divider {
  width: 1px;
  height: 48px;
  background: var(--gray-a4);
}

.current {
  display: flex;
  grid-column: span 3;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  color: var(--gray-10);
  text-align: center;
  letter-spacing: var(--font-letter-spacing-12px);
}
