.header {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 128px 0;

  .title {
    font-family: var(--font-family-display);
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    line-height: 24px;
    color: var(--gray-12);
    letter-spacing: -0.47px;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  align-self: stretch;

  .menu {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .filters {
      display: flex;
      gap: 24px;
      align-items: center;

      .button {
        font-size: var(--size-medium);
        font-weight: var(--font-weight-medium);
        line-height: 24px;
        color: var(--gray-10);
        letter-spacing: var(--font-inter-letter-spacing-16px);
      }
    }
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 48px;
    column-gap: 48px;
    align-self: stretch;
    height: 528px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  align-self: stretch;
}

.post .details {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: stretch;
}

.post .details .title {
  font-family: var(--font-family-display, Inter);
  font-size: var(--size-medium, 16px);
  font-style: normal;
  font-weight: var(--font-weight-medium, 500);
  line-height: 24px;
  color: gray-12;
  letter-spacing: -0.18px;
}

.post .details .meta {
  display: flex;
  gap: 8px;
  align-items: center;
  > span {
    font-family: var(--font-family-display, Inter);
    font-size: var(--size-regular, 14px);
    font-style: normal;
    font-weight: var(--font-weight-normal, 450);
    line-height: 24px; /* 171.429% */
    color: var(--gray-10);
    letter-spacing: -0.09px;
  }
}

.post .description {
  font-family: var(--font-family-display);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  color: var(--gray-10);
  letter-spacing: -0.09px;
}

.separator {
  width: 3px;
  height: 3px;
  aspect-ratio: 1 / 1;
  background: var(--gray-10);
  border-radius: 100px;
}
