@import url(./theme/index.css);

:root {
  --prose-block-spacing-small: 8px;
  --prose-block-spacing: 16px;
  --prose-block-spacing-large: 24px;
  --prose-block-radius: 8px;
  --prose-block-menu-size: 20px;
  --prose-block-menu-offset: 28px;
  --prose-list-inset: 24px;
  --prose-bullet-disc-width: 8px;
  --prose-bullet-disc-offset: 8px;
  --page-padding-inline: 24px;
  --page-padding-block: 64px;
  --page-padding-left: max(
    env(safe-area-inset-left),
    var(--page-padding-inline)
  );
  --page-padding-right: max(
    env(safe-area-inset-right),
    var(--page-padding-inline)
  );
  --page-max-width: 640px;
  --prose-max-width: 640px;
}

html {
  scrollbar-width: none;

  ::selection {
    color: var(--gray-1);
    background-color: var(--gray-12);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  padding-top: 256px;
  font-family: var(--font-family-display);
  color: var(--gray-12);
  text-wrap: pretty;
  background-color: var(--gray-1);
}
